body{
    font-family:Arial;
    background:#1e293b;
    color:white;
    text-align:center;
    margin:0;
}

.topo{
    background:#0f172a;
    padding:20px;
}

.topo img{
    width:180px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(255,255,255,0.2);
}

h1{
    margin-top:10px;
}

.box{
    background:#334155;
    padding:20px;
    margin:20px auto;
    width:90%;
    max-width:950px;
    border-radius:15px;
}

input,
select,
button{
    padding:10px;
    margin:5px;
    border:none;
    border-radius:8px;
}

button{
    background:#22c55e;
    color:white;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}

.excluir{
    background:red;
}

.editar{
    background:#f59e0b;
}

.trocar{
    background:#0ea5e9;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#22c55e;
}

th,td{
    padding:12px;
    border-bottom:1px solid #475569;
}

.haverPago{
    color:#22c55e;
    font-size:24px;
    font-weight:bold;
}

.haverPendente{
    color:#ef4444;
    font-size:24px;
    font-weight:bold;
}

#totalDia{
    margin-top:20px;
    font-size:24px;
    font-weight:bold;
    color:#22c55e;
}

#totalSemana{
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
    color:#4ade80;
}

#totalRecebido{
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
    color:#22c55e;
}

#totalPendente{
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
    color:#ef4444;
}

@media(max-width:700px){

table{
    font-size:12px;
}

button{
    margin-top:5px;
}

input,
select{
    width:90%;
}

}